[Desktop Entry]
Name=PyCharm
Comment=PyCharm IDE
Exec=/opt/PyCharm/bin/pycharm.sh %U
Terminal=false
Type=Application
Icon=/opt/PyCharm/bin/webide.png
Categories=GNOME;GTK;Development;
